{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="column column1">
    <div class="row">
        <div class="card general col-12">
            <h2>General Info</h2>
            <p>Uploaded file: {{file_name}}</p>
            <hr>
            <h2>PnL</h2>   
            <div class="stat">
                <p> 
                    <div class="arrow-container">
                        <h4>{{profit_formated}}</h4>
                        {% if profit > 0%}
                        <!-- SVG for the green up arrow -->
                        <svg class="arrow-svg-green" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2l8 8H4z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                        {% else %}
                        <svg class="arrow-svg-red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 22l-8-8h16z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>                        
                        {% endif %}
                    </div>
                </p>
                <p>Opening Balance <span class="stat-text">{{opening_balance}}</span></p>
                <p>Closing Balance <span class="stat-text">{{closing_balance}}</span></p>
            </div>
            <hr>
        </div> 
        <div class="card-sector general col-12">
            <div class="smaller-div">Text 1</div>
            <div class="smaller-div">Text 2</div>
            <div class="smaller-div">Text 3</div>
            <div class="smaller-div">Text 2</div>
            <div class="smaller-div">Text 3</div>
            <div class="smaller-div">Text 2</div>
            <div class="smaller-div">Text 3</div>
        </div> 
    </div> 
</div>
<div class="column column2">
    <div class="card card-info">
        <h4><small>Total Trades</small></h4>
        <div class="stat">
            <p class="stat-text">{{total_num_trades}}</p>
        </div>
    </div>
    <div class="card card-info">
        <h4><small>Margin Calls</small></h4>
        <div class="stat">
            <p class="stat-text">{{num_margin_calls}}</p>
        </div>
        <div class="stat">
            
        </div>
    </div>
    <div class="card card-info">
        <h4><small>Swing Trades</small></h4>
        <div class="stat">
            <p class="stat-text">{{num_swing_trades}}</p>
        </div>
        <div class="stat">
            <p class="stat-text"><a href="{% url 'swing_stats' %}">Go -></a></p>
        </div>
    </div>
    <div class="card card-info">
        <h4><small>Intraday Trades</small></h4>
        <div class="stat">
            <p class="stat-text">{{num_intraday_trades}}</p>
        </div>
        <div class="stat">
            <p class="stat-text"><a href="{% url 'intraday_stats' %}">Go -></a></p>
        </div>
    </div>

    <div class="card card-info">
        <h4><small>Max Drawdown</small></h4>
        <div class="stat">
            <p class="stat-text">{{max_drawdown}}</p>
        </div>
        <div class="stat">
            <p class="stat-text"><a href="{% url 'drawdown' %}">drawdown analysis</a></p>
        </div>
    </div>
</div>
<div class="column column3">
    <div class="row">
        <div class="col-12 card card-chart">
            <h6><small>Monthly PnL Chart</small></h6>
            <div class="stat">
                <canvas id="monthly_pnl-chart"></canvas>
            </div>
        </div>
        <!-- <div class="col-12 card card-chart">
            <h6><small>Drawdown Analysis</small></h6>
            <div class="stat">
                <canvas id="drawdown-chart"></canvas>
            </div>
        </div> -->
        <div class="col-12 card card-chart-vertical">
            <h6><small>Sector Analysis</small></h6>
            <div class="stat">
                <canvas id="sector_pnl-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="column column4">
    <div class="row">
        <div class="col-12 card card-medium">
            <h4><small>Win Ratio :</small>&nbsp;&nbsp;<strong>{{hit_ratio}}</strong></h4>
            <div class="stat">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-12 card card-medium">
            <h4><small>Highest Profit Makers</small></h4>
            <div class="stat">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">Profit</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for key,value in profitable_tickers.items %}
                    <tr>
                        <td><small class="text-profit">{{key}}</small></td>
                        <td><small class="text-profit">{{value}}</small></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 card card-medium">
            <h4><small>Highest Loss Makers</small></h4>
            <div class="stat">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">Loss</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for key,value in loss_tickers.items %}
                    <tr>
                        <td><small class="text-loss">{{key}}</small></td>
                        <td><small class="text-loss">{{value}}</small></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</div>
<script src="{% static 'scripts/populate_charts.js' %}"></script>
{% endblock %}