{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="column column1">
    <div class="row">
        <div class="card general col-12">
            <h2>General Info</h2>
            <p>Uploaded file: {{file_name}}</p>
            <p>Time Frame  <span>{{time_frame}}</span></p>
            <!-- <p>Opening Balance <span>{{opening_balance}}</span></p> -->
        </div> 
        <div class="card general col-12">
            <h2>PnL</h2>
            <div class="stat">
                <p>Opening Balance <span class="stat-text">{{opening_balance}}</span></p>
                <p>Closing Balance <span class="stat-text">{{closing_balance}}</span></p>
                <hr>
                <p><span class="stat-text">{{profit}}</span></p>
                <p>    
                    <div class="arrow-container">
                        <!-- SVG for the green up arrow -->
                        <svg class="arrow-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2l8 8H4z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    
                        <!-- Percentage value below the arrow -->
                        <div class="percentage-text">{{percentage_gain}}%</div>
                    </div>
                </p>
            </div>
        </div> 
    </div> 
</div>
<div class="column column2">
    <div class="card card-info">
        <h4><small>Total Trades</small></h4>
        <div class="stat">
            <p class="stat-text">{{total_num_trades}}</p>
        </div>
    </div>
    <div class="card card-info">
        <h4><small>Swing Trades</small></h4>
        <div class="stat">
            <p class="stat-text">{{num_swing_trades}}</p>
        </div>
    </div>
    <div class="card card-info">
        <h4><small>Intraday Trades</small></h4>
        <div class="stat">
            <p class="stat-text">{{num_intraday_trades}}</p>
        </div>
    </div>
    <div class="card card-info">
        <h4><small>Margin Calls</small></h4>
        <div class="stat">
            <p class="stat-text">{{num_margin_calls}}</p>
        </div>
    </div>
</div>
<div class="column column3">
    <div class="row">
        <div class="col-12 card card-chart">
            <h4><small>Drawdown Analysis</small></h4>
            <div class="stat">
                <canvas id="drawdown-chart"></canvas>
            </div>
        </div>
        <div class="col-12 card card-chart">
            <h4><small>Monthly PnL Chart</small></h4>
            <div class="stat">
                <canvas id="monthly_pnl-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="column column4">
    <div class="row">
        <div class="col-12 card card-medium">
            <h4><small>Hit Ratio</small></h4>
            <div class="stat">
                <span class="stat-text">{{hit_ratio}}</span></h4>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-12 card card-medium">
            <h4><small>Most Profitable Tickers</small></h4>
            <div class="stat">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">Profit</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for key,value in profitable_tickers.items %}
                    <tr>
                        <td><small class="text-profit">{{key}}</small></td>
                        <td><small class="text-profit">{{value}}</small></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</div>
<script src="{% static 'scripts/populate_charts.js' %}"></script>
{% endblock %}